{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MightyRestaraunt</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <style media="screen">
      body {
        color: #1e9157 ;
        background-color:darkgrey;
        font-family:sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-inverse">
        <div class="container">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'index_view' %}">Home</a></li>
            <li><a href="{% url 'menu_view' %}">Menu</a></li>
            <li><a href="{% url 'table_view' %}">tableview</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'profile_update_view' %}">Change Access Level</a></li>
              {% if request.user.profile.is_owner %}
                <li><a href="{% url 'menu_item_create_view' %}">Create Menu Item</a></li>
              {% endif %}
              {% if request.user.profile.is_server %}
                <li><a href="{% url 'table_create_view' %}">Add Table</a></li>
              {% endif %}
              <li><a href="{% url 'logout' %}?next={% url 'index_view' %}">Log out</a></li>
            {% else %}
              <li><a href="{% url 'user_create_view' %}">Create User</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

<h1>The Mighty Restaurant</h1>
{% if request.user.is_authenticated %}
<h3>{{ request.user }}:  {{ request.user.profile }}</h3>

{% endif %}
{% block content %}
{% endblock %}

  </div>

  </body>
</html>
